name: Maven site

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: read

    steps:
      - uses: tiogars/maven-site-action@v1.0.0
        with:
          github-repository: ${{ github.repository }}
          github-token: ${{ secrets.GITHUB_TOKEN }}