name: Release

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - uses: tiogars/maven-release-action@v1.0.1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
